* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --color-primary: #379777;
    --color-light: #F5F7F8
}

body{
    margin: 0;
    background-color: var(--color-light);
}

ul{
    list-style: none;
    padding: 0;
}
