* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

.logo{
    text-align: center;
}

/* || UTILITIES */

.container{
    display: flex;
}

.container__content{
    flex: 1;
    padding-left: 1em;
    margin-top: 1rem;

}
/* || NAV */

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    width: 20%;
}

.nav__list{

}

.link{
    margin: 1rem 0;
    text-decoration: none;
    color: black;
}

.link:hover{
    color: gray;
}

/* || FORM */

.search{
    display: flex;
}

.search__input{
    flex: 1;
    padding: .5em;
}

.search__submit{

}

/* || RECIPES */

.recipes__list{
}

.recipes__item{
    border-bottom: solid 1px black;
    padding: 1em 1em;
}

.recipes__item:hover{
    cursor: pointer;
    border-color: gray;
    color: gray;
}

/* || PAGINATION */

.pagination{
    display: flex;
    justify-content: end;
}